<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.v2vq.gles" >

    <!-- Tell the system this app requires OpenGL ES 3.0. -->
    <uses-feature
        android:glEsVersion="0x00030000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="GlorexDemos"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Glorex Demos" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".stubs.HelloTriangle"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="HelloTriangle" />
        </activity>
        <activity
            android:name=".stubs.SimpleVertexShader"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="SimpleVertexShader" />
        </activity>
        <activity
            android:name=".stubs.BlendingWindow"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="BlendingWindow" />
        </activity>
        <activity
            android:name=".stubs.SimpleTexture"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="SimpleTexture" />
        </activity>
        <activity
            android:name=".stubs.Instancing"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <meta-data
                android:name="android.app.lib_name"
                android:value="Instancing" />
        </activity>
        <activity
            android:name=".stubs.TorusDiffuse"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <meta-data
                android:name="android.app.lib_name"
                android:value="TorusDiffuse" />
        </activity>
        <activity
            android:name=".stubs.RenderingText"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <meta-data
                android:name="android.app.lib_name"
                android:value="RenderingText" />
        </activity>
        <activity
            android:name=".stubs.Cubemap"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <meta-data
                android:name="android.app.lib_name"
                android:value="Cubemap" />
        </activity>
        <activity
            android:name=".stubs.FlagEffect"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <meta-data
                android:name="android.app.lib_name"
                android:value="FlagEffect" />
        </activity>
        <activity
            android:name=".stubs.TeapotTwoSide"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <meta-data
                android:name="android.app.lib_name"
                android:value="TeapotTwoSide" />
        </activity>
                <activity
            android:name=".stubs.Nanosuit"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="Nanosuit" />
        </activity>
    </application>

</manifest>
